.product-item {
  text-align: center;
  background-color: #f5e9c52d;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.085);
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.product-item:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.product-image {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  display: block;
  border-radius: 5px;
}

.product-item:hover .product-image img {
  transform: scale(1.1);
}

.product-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  display: inline-block;
  color: #333;
  margin-bottom: 5px;
}

.product-star {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  column-gap: 2px;
}

.product-star i {
  font-size: 12px;
  color: gold;
}

.product-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding-bottom: 15px;
}

.new-price {
  color: #ff3c20;
  font-weight: 600;
}

.old-price {
  color: #7d7d7d;
  font-size: 12px;
  text-decoration: line-through;
}

.product-discount {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ff3c20;
  color: #fff; 
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out all;
}

.product-item:hover .product-links {
  transform: translate(15px);
  opacity: 1;
  visibility: visible;
}

.product-links button,
.product-links a {
  background-color: #000;
  padding: 5px;
  border-radius: 4px;
  transition: all ease 0.3s;
}

.product-links i {
  color: #fff;
  font-size: 14px;
  pointer-events: none;
}

.product-links button:hover,
.product-links a:hover {
  opacity: 0.7;
}
